<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>
            com.liferay.portal.kernel.servlet.PortalDelegateServlet
        </servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>
                org.springframework.web.servlet.DispatcherServlet
            </param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
</web-app>